    <div class="sidebar__logo">SGAL</div>
    <nav class="sidebar__nav">
        <ul class="sidebar__nav-list">
            <li class="sidebar__nav-item"><a href="/index.html">Inicio</a></li>
            <li class="sidebar__nav-item"><a href="/frontend/public/views/gestion/cultivos.html">Cultivos</a></li>
            <li class="sidebar__nav-item"><a href="/frontend/public/views/gestion/ciclo_cultivos.html">Ciclo Cultivos</a></li>
            <li class="sidebar__nav-item"><a href="/frontend/public/views/gestion/sensores.html">Sensores</a></li>
            <li class="sidebar__nav-item"><a href="/frontend/public/views/gestion/insumos.html">Insumos</a></li>
            <li class="sidebar__nav-item"><a href="/frontend/public/views/gestion/usuarios.html">Usuarios</a></li>
            <li class="sidebar__nav-item"><a href="/frontend/public/views/gestion/integracion.html">Integración</a></li>
            <li class="sidebar__nav-item"><a href="#">Reportes</a></li>
        </ul>
    </nav>
    <div class="sidebar__profile">
        <div class="sidebar__avatar"></div>
        <p class="sidebar__name">SADMIN</p>
    </div>

    