<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de ciclo de cultivos</title>
    <link rel="stylesheet" href="/frontend/public/css/pages/style_index_gestion.css">
    <script src="/frontend/public/views/components/js/aside-bar.js" defer></script>
    <script src="/frontend/public/views/components/js/search-bar.js" defer></script>
</head>
<body>  
    <aside class="sidebar">
    </aside>
    <main class="main">
        <header class="header">
        </header>

        <section class="content">
            <div class="content__header">
                <h1 class="content__title">Gestión de Cultivos</h1>
                <div class="content__actions">
                    <button class="content__filter-btn">FILTRAR</button>
                    <button class="content__report-btn"><a href="/listar/lista_cultivos.html" class="content__report-btn">Ver reportes de cultivos</a></button>
                    <button class="content__add-btn" onclick="location.href='../agregar/form_cultivos.html'">Agregar cultivo</button>
                </div>
            </div>

            <div class="users-grid">
                <div class="user-card">
                    <div class="user-card__avatar">
                        <img src="/gestion/img/papas.png" alt="Cultivo">
                    </div>
                    <div class="user-card__info">
                        <div class="user-card__id"><p><b>ID:</b> 1011245</p></div>
                        <div class="user-card__name"><p><b>Nombre:</b> Cultivo de Papas</p></div>
                        <div class="user-card__type"><p><b>Tipo:</b> Herbáceo</p></div>
                        <div class="user-card__status"><p><b>Estado:</b> ACTIVO</p></div>
                    </div>
                    <div class="user-card__actions">
                        <button class="user-card__edit-btn" onclick="location.href='../modificar/modificar_cultivo.html'">Editar</button>
                        <button class="user-card__delete-btn">Eliminar</button>
                    </div>
                </div>
                <div class="user-card">
                    <div class="user-card__avatar">
                        <img src="/gestion/img/papas.png" alt="Cultivo">
                    </div>
                    <div class="user-card__info">
                        <div class="user-card__id"><p><b>ID:</b> 1011245</p></div>
                        <div class="user-card__name"><p><b>Nombre:</b> Cultivo de Papas</p></div>
                        <div class="user-card__type"><p><b>Tipo:</b> Herbáceo</p></div>
                        <div class="user-card__status"><p><b>Estado:</b> ACTIVO</p></div>
                    </div>
                    <div class="user-card__actions">
                        <button class="user-card__edit-btn" onclick="location.href='../modificar/modificar_cultivo.html'">Editar</button>
                        <button class="user-card__delete-btn">Eliminar</button>
                    </div>
                </div>
                <div class="user-card">
                    <div class="user-card__avatar">
                        <img src="/gestion/img/papas.png" alt="Cultivo">
                    </div>
                    <div class="user-card__info">
                        <div class="user-card__id"><p><b>ID:</b> 1011245</p></div>
                        <div class="user-card__name"><p><b>Nombre:</b> Cultivo de Papas</p></div>
                        <div class="user-card__type"><p><b>Tipo:</b> Herbáceo</p></div>
                        <div class="user-card__status"><p><b>Estado:</b> ACTIVO</p></div>
                    </div>
                    <div class="user-card__actions">
                        <button class="user-card__edit-btn" onclick="location.href='../modificar/modificar_cultivo.html'">Editar</button>
                        <button class="user-card__delete-btn">Eliminar</button>
                    </div>
                </div>
                <div class="user-card">
                    <div class="user-card__avatar">
                        <img src="/gestion/img/papas.png" alt="Cultivo">
                    </div>
                    <div class="user-card__info">
                        <div class="user-card__id"><p><b>ID:</b> 1011245</p></div>
                        <div class="user-card__name"><p><b>Nombre:</b> Cultivo de Papas</p></div>
                        <div class="user-card__type"><p><b>Tipo:</b> Herbáceo</p></div>
                        <div class="user-card__status"><p><b>Estado:</b> ACTIVO</p></div>
                    </div>
                    <div class="user-card__actions">
                        <button class="user-card__edit-btn" onclick="location.href='../modificar/modificar_cultivo.html'">Editar</button>
                        <button class="user-card__delete-btn">Eliminar</button>
                    </div>
                </div>
                <div class="user-card">
                    <div class="user-card__avatar">
                        <img src="/gestion/img/papas.png" alt="Cultivo">
                    </div>
                    <div class="user-card__info">
                        <div class="user-card__id"><p><b>ID:</b> 1011245</p></div>
                        <div class="user-card__name"><p><b>Nombre:</b> Cultivo de Papas</p></div>
                        <div class="user-card__type"><p><b>Tipo:</b> Herbáceo</p></div>
                        <div class="user-card__status"><p><b>Estado:</b> ACTIVO</p></div>
                    </div>
                    <div class="user-card__actions">
                        <button class="user-card__edit-btn" onclick="location.href='../modificar/modificar_cultivo.html'">Editar</button>
                        <button class="user-card__delete-btn">Eliminar</button>
                    </div>
                </div>
                <div class="user-card">
                    <div class="user-card__avatar">
                        <img src="/gestion/img/papas.png" alt="Cultivo">
                    </div>
                    <div class="user-card__info">
                        <div class="user-card__id"><p><b>ID:</b> 1011245</p></div>
                        <div class="user-card__name"><p><b>Nombre:</b> Cultivo de Papas</p></div>
                        <div class="user-card__type"><p><b>Tipo:</b> Herbáceo</p></div>
                        <div class="user-card__status"><p><b>Estado:</b> ACTIVO</p></div>
                    </div>
                    <div class="user-card__actions">
                        <button class="user-card__edit-btn" onclick="location.href='../modificar/modificar_cultivo.html'">Editar</button>
                        <button class="user-card__delete-btn">Eliminar</button>
                    </div>
                </div>
                <div class="user-card">
                    <div class="user-card__avatar">
                        <img src="/gestion/img/papas.png" alt="Cultivo">
                    </div>
                    <div class="user-card__info">
                        <div class="user-card__id"><p><b>ID:</b> 1011245</p></div>
                        <div class="user-card__name"><p><b>Nombre:</b> Cultivo de Papas</p></div>
                        <div class="user-card__type"><p><b>Tipo:</b> Herbáceo</p></div>
                        <div class="user-card__status"><p><b>Estado:</b> ACTIVO</p></div>
                    </div>
                    <div class="user-card__actions">
                        <button class="user-card__edit-btn" onclick="location.href='../modificar/modificar_cultivo.html'">Editar</button>
                        <button class="user-card__delete-btn">Eliminar</button>
                    </div>
                </div>
                <div class="user-card">
                    <div class="user-card__avatar">
                        <img src="/gestion/img/papas.png" alt="Cultivo">
                    </div>
                    <div class="user-card__info">
                        <div class="user-card__id"><p><b>ID:</b> 1011245</p></div>
                        <div class="user-card__name"><p><b>Nombre:</b> Cultivo de Papas</p></div>
                        <div class="user-card__type"><p><b>Tipo:</b> Herbáceo</p></div>
                        <div class="user-card__status"><p><b>Estado:</b> ACTIVO</p></div>
                    </div>
                    <div class="user-card__actions">
                        <button class="user-card__edit-btn" onclick="location.href='../modificar/modificar_cultivo.html'">Editar</button>
                        <button class="user-card__delete-btn">Eliminar</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
