<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="/agregar/styles/form-agregar-modificar.css">
    <link rel="stylesheet" href="/agregar/styles/agregar-modificar.css">
    <script src="/components/js/aside-bar.js" defer></script>
    <script src="/modificar/js/cargar_script.js"></script>
</head>
<body>
    <aside class="sidebar">
    </aside>

    <main class="main">
        <section class="content">
            <div class="container">
                <h1 class="content__title">Modificar Usuario</h1>
                <p class="content__subtitle">Modificar un usuario en la Granja Agrícola Lembo</p>
                
                <div class="form-container">
                    <form class="form" id="usuarioForm  sensorForm">
                        <div class="form__grid">
                            <div class="form__group">
                                <label class="form__label">Tipo de Usuario *</label>
                                <select class="form__select" id="tipoUsuario">
                                    <option value="">Seleccione...</option>
                                    <option value="Administrador">Administrador</option>
                                    <option value="Supervisor">Supervisor</option>
                                    <option value="Trabajador">Trabajador</option>
                                </select>
                            </div>

                            <div class="form__group">
                                <label class="form__label">Tipo de Documento *</label>
                                <select class="form__select" id="tipoDocumento">
                                    <option value="">Seleccione...</option>
                                    <option value="CC">Cédula de Ciudadanía</option>
                                    <option value="TI">Tarjeta de Identidad</option>
                                    <option value="Pasaporte">Pasaporte</option>
                                </select>
                            </div>

                            <div class="form__group">
                                <label class="form__label">Número de Documento *</label>
                                <input type="text" class="form__input" id="numDocumento" pattern="\d+" title="Solo se permiten números" placeholder="Ingrese el Número de Documento">
                            </div>

                            <div class="form__group">
                                <label class="form__label">Nombre *</label>
                                <input type="text" class="form__input" id="nombre" placeholder="Ingrese el Nombre" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ]+" required title="Solo se permiten letras y espacios" maxlength="25">
                                
                            </div>

                            <div class="form__group">
                                <label class="form__label">Correo Electrónico *</label>
                                <input type="email" class="form__input" id="correo" placeholder="Ingrese el correo electrónico">
                            </div>

                            <div class="form__group">
                                <label class="form__label">Confirmación Correo *</label>
                                <input type="email" class="form__input" id="confirmCorreo" placeholder="Ingrese el correo electrónico">
                            </div>

                            <div class="form__group">
                                <label class="form__label">Número Telefónico *</label>
                                <input type="tel" class="form__input" id="telefono" placeholder="Ingrese el Número Telefónico">
                            </div>

                            <div class="form__group">
                                <label class="form__label">Estado *</label>
                                <select class="form__select" id="estado">
                                    <option value="Activo">Activo</option>
                                    <option value="Inhabilitado">Inhabilitado</option>
                                </select>
                            </div>
                        </div>
                        <div class="form__end">
                            <p class="form__mandatory-text">(*) Campos Obligatorios.</p>
                            <button type="submit" class="form__register-btn">Modificar Usuario</button>
                        </div>
                    </form>
                    <div id="mensajeContainer"></div>
                </div>

                <button type="button" class="content__back-btn" onclick="location.href='../gestion/usuarios.html'">VOLVER</button>
            </div>
        </section>
    </main>

    <script src="/js/script-modificar-usuario.js"></script>
</body>
</html>
