<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de ciclo de cultivos</title>
    <link rel="stylesheet" href="/frontend/public/css/pages/form-agregar-modificar.css">
    <link rel="stylesheet" href="/frontend/public/css/pages/agregar-modificar.css">

    <script src="/frontend/public/views/components/js/aside-bar.js" defer></script>
    
</head>

<body>
    <aside class="sidebar"></aside> <!-- Aqui va el side - bar -->

    <main class="main">
        <section class="content">
            <div class="content__container">
                <h1 class="content__title">Agregar Ciclo de Cultivos</h1>
                <p class="content__subtitle">Registro de un nuevo ciclo de cultivos en la Granja Agrícola Lembo</p>
                
                <div class="form-container">
                    <form class="form" method="POST" action="http://localhost:3000/ciclo_cultivo">
                        <div class="form__grid">

                            <div class="form__group">
                                <label class="form__label">Nombre del ciclo cultivo *</label>
                                <input type="text" class="form__input form__input--name" placeholder="digite el nombre del ciclo" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ]+" required title="Solo se permiten letras y espacios" maxlength="25">
                            </div>

                            <div class="form__group">
                                <label class="form__label">Estado *</label>
                                <select class="form__input form__input--state">
                                    <option value="Activo">Activo</option>
                                    <option value="Inactivo">Inactivo</option>
                                </select>
                            </div>

                            <div class="form__group">
                                <label class="form__label">Fecha inicial *</label>
                                <input type="date" class="form__input  form__input--inicial" placeholder="00/00/000">
                            </div>

                            <div class="form__group">
                                <label class="form__label">Fecha final *</label>
                                <input type="date" class="form__input form__input--final" placeholder="00/00/000">
                            </div>

                            <div class="form__group">
                                <label class="form__label">Fotografía</label>
                                <button type="button" class="form__upload-btn">ADJUNTAR IMAGEN</button>
                            </div>

                            <div class="form__group">
                                <label class="form__label">Descripción *</label>
                                <input type="tel" class="form__input form__input--descripcion" placeholder="Ingrese la Descripción">
                            </div>
                        </div>
                        <div class="form__end">
                            <p class="form__mandatory-text">(*) Campos Obligatorios.</p>
                            <button type="submit" class="form__register-btn">Registrar ciclo cultivo</button>
                        </div>
                    </form>
                </div>
                
                <button type="button" class="content__back-btn" onclick="location.href='../gestion/ciclo_cultivos.html'">VOLVER</button>
            </div>
        </section>
    </main>
<script src="/frontend/public/js/pages/ciclo_Cultivo.js"></script>
    <script src="/frontend/public/js/validaciones_agregar.js"></script>
</body>

</html>
