<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de ciclo de cultivos</title>
    <link rel="stylesheet" href="/frontend/public/css/pages/form-agregar-modificar.css">
    <link rel="stylesheet" href="/frontend/public/css/pages/agregar-modificar.css">
    <link rel="stylesheet" href="/frontend/public/css/pages/form_integracion.css">
    <script src="/frontend/public/views/components/js/aside-bar.js" defer></script>
    
</head>

<body>
    <aside class="sidebar"></aside> <!-- Aqui va el side - bar -->

    <main class="main">
        <section class="content">
          <div class="content__container">
            <h1 class="content__title">Creación de Integración</h1>
            <p class="content__subtitle">Registro de una nueva integración para el sistema SGAL lembo.</p>
      
            <!-- Tabs header -->
            <div class="form__tabs">
              <button type="button" class="form__tab form__tab--active">Generales</button>
              <button type="button" class="form__tab">Sensores</button>
              <button type="button" class="form__tab">Insumos</button>
              <button type="button" class="form__tab">Ciclos Cultivos</button>
              <button type="button" class="form__tab">Operadores</button>
            </div>
      
            <form class="form" method="POST" action="http://localhost:3000/ciclo_cultivo">
      
              <!-- PASO 1 - Generales -->
              <div class="form__step form__step--active">
                <div class="form__group">
                  <label class="form__label">Nombre de la integración *</label>
                  <input type="text" class="form__input form__input--name" placeholder="Digite el nombre de la integración" pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ ]+" required maxlength="15" minlength="3">
                </div>
      
                <div class="form__group">
                    <label class="form__label">Cultivo</label>
                    <select class="form__input">
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                    </select>
                </div>
                
                <div class="form__group">
                    <label class="form__label">Estado *</label>
                    <select class="form__input form__input--state">
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                    </select>
                </div>

                <div class="form__group">
                    <label class="form__label">Fecha inicial *</label>
                    <input type="date" class="form__input  form__input--inicial" placeholder="00/00/000">
                </div>

                <div class="form__group">
                    <label class="form__label">Fecha final *</label>
                    <input type="date" class="form__input form__input--final" placeholder="00/00/000">
                </div>

                <div class="form__group">
                    <label class="form__label">Fotografía</label>
                    <button type="button" class="form__upload-btn">ADJUNTAR IMAGEN</button>
                </div>
      
                <button type="button" class="form__next">Siguiente</button>
              </div>
      
              <!-- PASO 2 - Sensores -->
              <div class="form__step">
                <label class="form__label">Sensores</label>
                    <select class="form__input">
                      <option value="">Sensores 1</option>
                      <option value="">Sensores 2</option>
                      <option value="">Sensores 3</option>
                      
                    </select>
                    <div>
                      <button type="button" class="form__btn--dlt">Suprimir Sensor</button>
                      <button type="button" class="form__add-btn">Agregar Sensores</button>
                    </div>
                    
                    <div class="form__botons">
                        <button type="button" class="form__prev">Atrás</button>
                        <button type="button" class="form__next">Siguiente</button>
                    </div>
                    
              </div>
      
              <!-- PASO 3 - Insumos -->
              <div class="form__step">
                <label class="form__label">Insumo</label>
                    <select class="form__input">
                      <option value="">Insumo 1</option>
                      <option value="">Insumo 2</option>
                      <option value="">Insumo 3</option>
                    </select>
                    
                    <div>
                      <button type="button" class="form__btn--dlt">Suprimir Insumo</button>
                      <button type="button" class="form__add-btn">Agregar Sensor</button>
                    </div>
                    <div class="form__group"><h3>Gasto estimado: 24.500</h3></div>
                    <div class="form__botons">
                        <button type="button" class="form__prev">Atrás</button>
                        <button type="button" class="form__next">Siguiente</button>
                    </div>
              </div>
      
              <!-- PASO 4 - Ciclos Cultivos -->
              <div class="form__step">
                <label class="form__label">Ciclo Cultivo</label>
                    <select class="form__input">
                      <option value="">Ciclo 1</option>
                      <option value="">Ciclo 2</option>
                      <option value="">Ciclo 3</option>
                    </select>
                    <div>
                      <button type="button" class="form__btn--dlt">Suprimir Ciclo Cultivo</button>
                      <button type="button" class="form__add-btn">Agregar Ciclo Cultivo</button>
                    </div>
                    <div class="form__botons">
                        <button type="button" class="form__prev">Atrás</button>
                        <button type="button" class="form__next">Siguiente</button>
                    </div>
              </div>
      
              <!-- PASO 5 - Operadores -->
              <div class="form__step">
                <label class="form__label">Operador</label>
                    <select class="form__input">
                      <option value="">Operador 1</option>
                      <option value="">Operador 2</option>
                      <option value="">Operador 3</option>
                    </select>
                    <div>
                      <button type="button" class="form__btn--dlt">Suprimir Operador</button>
                      <button type="button" class="form__add-btn">Agregar Operador</button>
                    </div>
                    <div class="form__botons">
                        <button type="button" class="form__prev">Atrás</button>
                        <button type="submit" class="form__next">GUARDAR INTEGRACIÓN</button>
                    </div>
              </div>
            </form>
          </div>
        </section>
      </main>
      
<script src="/frontend/public/js/pages/ciclo_Cultivo.js"></script>
    <script src="/frontend/public/js/pages/integracion-tabs.js"></script>
</body>


</html>
